div.blue {
    background-color: #333333;
    color: white;
}

div.green {
    background-color: #fff;

}

div.yellow {
    background-color: #fff;

}

div.red {
    background-color: #fff;

}

div.bg {
    background-color: #fff;
    color: white;

}

body {
    background-color: #fff;

}
